<div class="container">

    <div class="container-head">
        <%= image_tag("logo.png", :alt => "mayhem logo") %>
    </div>
    <div class="container-body">
        <h3>Welcome to Dungeon Mayhem</h3>
        <div class="content-info">
            
            <p>
                <a href = "https://media.wizards.com/2019/dnd/downloads/DnD_Mayhem.pdf"
            target = "_blank˚" > Dungeon Mayhem </a> is a multiplayer game. </p>
             
        </div>

        
       
    </div>

    #  <div content-footer>
    #         <p class="font-weight-normal h4">Implement these apis and have fun playing Dungeon Mayhem :)</p>
    #     </div>
    
</div>

