.list-group-item .eff-icon {
    color: #1b1b1b;
    font-size: 14px;
    margin-right: 10px;
}

.list-group-item .effect-title, .list-group-item .title {
    font-size: 16px;
    margin-right: 10px;
    line-height: 16px;
}

.symbol-container .list-group-item:hover {
    color: #e0614b !important;
}



.symbol-container .list-group-item {
    color: #3b3b3b;
    cursor: initial;
}