.symbol-container {
    font-size: 12px;
    margin-bottom: 10px;
}

.list-group-item .eff-icon {
    color: #1b1b1b;
    font-size: 11px;
    margin-right: 5px;
}

.list-group-item .effect-title, .list-group-item .title {
    font-size: 12px;
}

.symbol-container .list-group-item:hover {
    color: #e0614b !important;
}



.symbol-container .list-group-item {
    color: #3b3b3b;
    cursor: initial;
}

.game-hint {
    width: 400px;
    cursor: pointer;
}
