
.card-game-wrapper {
    background-color: #e2e2e2;
    border: 1px solid #ececec;
    padding: 30px 20px;
    border-radius: 12px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.spn-class {
    padding: 10px;
    height: 300px;
    border: 1px solid #ececec;
    border-radius: 5px;
    background-color: aqua;
}

.room-deck-container {
    padding: 20px;
    margin: 0px !important;
}

.room-deck-container .deck-title {
    margin: 10px auto;
    font-weight: 500;
}

