

@import '../../../colors/index.scss';

.card-game-wrapper {
    background-color: #e2e2e2;
    border: 1px solid #ececec;
    padding: 30px 20px;
    border-radius: 12px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.spn-class {
    padding: 10px;
    height: 300px;
    border: 1px solid #ececec;
    border-radius: 5px;
    background-color: aqua;
}

.room-deck-container {
    padding: 20px;
    margin: 0px !important;
}

.room-deck-container .deck-title {
    margin: 10px auto;
    font-weight: 500;
}

i.success {
    color: #20a527;
}

i.pending {
    color: #d06464;
}

.game-status-list-item i {
    font-size: 20px;
    margin: 0 10px;
}

.game-status-list-item span {
    font-size: 14px;
    float: left;
    min-width: 180px;
}

.span-card-wrapper {
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    margin: 5px 0px;
    padding: 10px;
    height: 150px;
    width: 100px;
    display: flex;
    align-items: flex-end;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
}

.span-card-wrapper:active {
    box-shadow: #ececec;
}

.spn-card-title {
    font-size: 12px;
}

.deck-sutha {
    background-color: #d77f4f;
}

.deck-azzan {
    background-color: #bb9927;
}

.deck-lia {
    background-color: #4fbbc2;
}

.deck-oriax {
    background-color: #d37d8d;
}

